.events-bg {
  background: linear-gradient(
      269.94deg,
      rgba(29, 80, 160, 0.2) 8.85%,
      rgba(7, 33, 178, 0.2) 87.83%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(87.26deg, #3793ff -3.49%, #0017e4 97.72%);
}
.slide-pos-center {
  z-index: 27;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  transform: scale(0.9);
  transition: transform 0.7s ease-in-out, left 0.7s ease-in-out, right 0.7s ease-in-out;
}
.slide-pos-center1 {
  z-index: 25;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  transform: scale(0.7);
}


.slide-pos-left1 {
  z-index: 20;
  transform: scale(0.75);
  left: -5px;
  transition: transform 0.7s ease-in-out, left 0.7s ease-in-out;
}

.slide-pos-right1 {
  z-index: 20;
  transform: scale(0.75);
  right: -5px;
  transition: transform 0.7s ease-in-out, right 0.7s ease-in-out;
}

.slide-pos-left2 {
  z-index: 10;
  transform: scale(0.5);
  left: -190px;
  transition: transform 0.7s ease-in-out, left 0.7s ease-in-out;
}

.slide-pos-right2 {
  z-index: 10;
  transform: scale(0.5);
  right: -190px;
  transition: transform 0.7s ease-in-out, right 0.7s ease-in-out;
}

@media (min-width: 1158px) and (max-width: 1024px) {
  .slide-pos-center {
    transform: scale(0.85);
  }

  .slide-pos-left1 {
    transform: scale(0.65);
    left: -70px;
  }
  .slide-pos-right1 {
    transform: scale(0.65);
    right: -70px;
    justify-content: end;
    display: flex;
  }

  .slide-pos-left2,
  .slide-pos-right2 {
    transform: scale(0.55);
    left: -120px;
    right: -120px;
  }
}



/* ========== MOBILE SLIDER (For Small Screens) ========== */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
